table{
	width: 100%;
}

.loading-spinner{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0, 0.15);
	padding: 25px;
}

.column-category {
	vertical-align: super;
	 margin-right: 10px;
}

.btn {
	padding-right: 0;
	text-align: center;
	width: 0;
	padding: 5px 5px;
}
